header {
    display: flex;
    align-items: center;
    justify-content: center;
      background-image: url("../assets/convert_3.webp");


    img {
        height: 8em;
        width: 8em;
        border-radius: 50%;
        padding: 0.5em;
    }
}